
{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
                <tr>
                    <!-- <td><a href="/snippet/view?id={{.ID}}">{{.Title}}</a></td> -->
                    <!-- Use the new clean URL style-->
                    <td><a href="/snippet/view/{{.ID}}">{{.Title}}</a></td>
                    <td>{{humanDate .Created}}</td>
                    <!-- Aliter: Pipelining: using the output of one command to another -->
                    <!-- Here, the .Created will give UTC time, which will be used by humanDate function -->
                    <!-- <td>{{.Created | humanDate}}</td> -->
                    <td>{{.ID}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}

